<div class="my-5">
    <div class="d-flex mb-4">
        <h4 class="mb-0 yellow-orange-color" id="icons">KPI</h4>
        <!-- <form class="subnav-search d-flex flex-nowrap ms-auto">
            <input autocomplete="off" class="form-control search mb-0" id="search" placeholder="Construction" disabled>
        </form> -->
		<div class="subnav-search d-flex flex-nowrap ms-auto">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#" [routerLink]="['/project']">Project</a></li>
					<li class="breadcrumb-item active" aria-current="page">KPI</li>
				</ol>
			</nav>
		</div>
    </div>
	<p>No content provided!</p>
    <!-- <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a href="/#/behavior-base-safety" class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/bbs.png" />
                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Behavioral Based Safety
            </div></a>
        </li> 
    </ul> -->
</div>