<div class="my-5">
    <div class="d-flex mb-4">
        <h4 class="mb-0 yellow-orange-color" id="icons">ENGINEERING</h4>
        <!-- <form class="subnav-search d-flex flex-nowrap ms-auto">
            <input autocomplete="off" class="form-control search mb-0" id="search" placeholder="Construction" disabled>
        </form> -->
		<div class="subnav-search d-flex flex-nowrap ms-auto">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#" [routerLink]="['/project']">Project</a></li>
					<li class="breadcrumb-item active" aria-current="page">Engineering</li>
				</ol>
			</nav>
		</div>
    </div>
    <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="assets/icons/construction/engineering/civil.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Civil
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="assets/icons/construction/engineering/electrical.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Electrical
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="assets/icons/construction/engineering/environment.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Environment
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="assets/icons/construction/engineering/em.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Engineering Management
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="assets/icons/construction/engineering/fw.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                File Water
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="assets/icons/construction/engineering/ic.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Instrumentation/Control
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/engineering/lp.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Layout/Photos
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/engineering/mechanical.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Mechanical
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/engineering/piping.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Piping
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/engineering/process.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Process
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/engineering/regulatory.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Regulatory
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/engineering/standards.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Standards
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/engineering/sa.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Structural/ Arch
            </div></a>
        </li> 
    </ul>
</div> 