
    <div class="d-flex mb-4">
        <h4 class="mb-0 yellow-orange-color" id="icons">PROJECT</h4>
       
    </div>
    <div class="sibling-fade">
            <a href="/#/project/change-management" class="d-block text-light text-decoration-none">
                Progress 
            </a>
        
     
            <a href="/#/environment-health-safety" class="d-block text-light text-decoration-none">
                Health Safety & Environment
            </a>
        
            <a href="/#/behavior-base-safety" class="d-block text-light text-decoration-none">
            
                Behavioral Based Safety
            </a>
          
        
            <a href="/#/project/commission" class="d-block text-light text-decoration-none">
                Milestones
            </a>
            <a href="/#/project/it" class="d-block text-light text-decoration-none">
                KPI
            </a>
      
        
            <a href="/#/project/labour-relations" class="d-block text-light text-decoration-none">
            
                Labour Relations
            </a>
        
            <a href="/#/project/modularization" class="d-block text-light text-decoration-none">
                Modularization
            </a>
            <a href="/#/project/project-management" class="d-block text-light text-decoration-none">
           
                Project Management
            </a>
    
        
            <a href="/#/project/quality" class="d-block text-light text-decoration-none">
            
                Quality
            </a>
        
            <a href="/#/project/work-packages" class="d-block text-light text-decoration-none">
                Work Packages
            </a>
        
        </div>