.pageUnderline {
    margin: .5em auto 2rem;
    width: 150px;
    border: 2px solid #ff9500;
    opacity: 1;
}

.heading-2 {
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto .5rem;
    padding-top: 0;
    line-height: 2.5rem;
    text-transform: uppercase;
}
.heading-4 {
    font-size: 1.6rem;
    color: #000000;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.heading5 {
    color: #ff9500;
    font-weight: bold;
    opacity: 1;
}
 .container {
   

 }
 body{
    
    color: black;
    font-style: white;
 }
 toolbar {
     color: #093c71;
 }

.iconLink {
    text-decoration: none;
}
.iconLink:hover {
    opacity: .5;
}
a.iconLink img {
    width: 60px!important;
    margin-bottom: .5rem;
}

.iconLink i {
    width: 100%;
    font-size: 3rem;
    margin-bottom: .5rem;
    color: #000000;
}
.iconLink p {
    margin-top: 0;
    color: #ffffff; 
    font-family: Arial, Helvetica, sans-serif;
}

.iconLinkNotDone {
    text-decoration: none;
    color: #ababab;   
    cursor: not-allowed;
}
.iconLinkNotDone img {
    width: 100px;
}

// icon pages
.icon-blocks {
    height: 50px;
}
.yellow-orange-color {
    color: #ffffff;
} 

/* SIBLING FADE: fade out siblings around a hovered item */

.sibling-fade { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.sibling-fade > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade:hover > * { opacity: 0.4; transform: scale(0.9); }
/* Fade out all items when the parent is hovered */

.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }
/* Fade in the currently hovered item */








.sibling-fade {
  display: flex;
  flex-wrap: wrap;
}

.sibling-fade > * {
  background: #093c71;
  padding: 1em;
  flex: auto;
  margin: 0.3em;
  text-align: center;
  color: #f05555;
  font-size: 1.5em;
  text-decoration: none;
}

/**/






