<div class="my-5">
    <div class="d-flex mb-4">
        <h4 class="mb-0 yellow-orange-color" id="icons">HUMAN RESOURCES</h4>
        <!-- <form class="subnav-search d-flex flex-nowrap ms-auto">
            <input autocomplete="off" class="form-control search mb-0" id="search" placeholder="Construction" disabled>
        </form> -->
		<div class="subnav-search d-flex flex-nowrap ms-auto">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#" [routerLink]="['/project']">Project</a></li>
					<li class="breadcrumb-item active" aria-current="page">Human Resources</li>
				</ol>
			</nav>
		</div>
    </div> 
    <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
        <li class="col mb-4" data-categories="" data-tags="">
            <a href="/#/behavior-base-safety" class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/human-resources/aa.svg" />
                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Aboriginal Affairs
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="" data-tags="">
            <a href="/#/behavior-base-safety" class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/human-resources/cr.svg" />
                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Community Relations
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="" data-tags="">
            <a href="/#/behavior-base-safety" class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/human-resources/pm.svg" />
                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Performance Management
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="" data-tags="">
            <a href="/#/behavior-base-safety" class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/human-resources/payroll.svg" />
                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Payroll
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="" data-tags="">
            <a href="/#/behavior-base-safety" class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/human-resources/policies.svg" />
                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Policies
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="" data-tags="">
            <a href="/#/behavior-base-safety" class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/human-resources/recruitment.svg" />
                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Recruitment
            </div></a>
        </li> 
    </ul>
    
    <div class="d-flex mb-4">
        <h5 class="mb-0 yellow-orange-color" id="icons">RELATED LINKS</h5>
    </div>
    <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
        <li href="https://laws-lois.justice.gc.ca/eng/acts/L-2/" target="_blank" class="col mb-4" data-categories="" data-tags="">
            <a href="/#/behavior-base-safety" class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <i class="fab fa-canadian-maple-leaf text-danger custom-fa-icons"></i>
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Canada Labour Code
            </div></a>
        </li> 
    </ul>
</div> 