<div class="my-5">
    <div class="d-flex mb-4">
        <h4 class="mb-0 yellow-orange-color" id="icons">MODULARIZATION</h4>
        <!-- <form class="subnav-search d-flex flex-nowrap ms-auto">
            <input autocomplete="off" class="form-control search mb-0" id="search" placeholder="Construction" disabled>
        </form> -->
		<div class="subnav-search d-flex flex-nowrap ms-auto">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#" [routerLink]="['/project']">Project</a></li>
					<li class="breadcrumb-item active" aria-current="page">Modularization</li>
				</ol>
			</nav>
		</div>
    </div>
    <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
        <li class="col mb-4" data-categories="" data-tags="">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/modularization/dc.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Design Criteria
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="" data-tags="">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/modularization/dp.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Drawings/Photos
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="" data-tags="">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/modularization/ew.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Equipment Weights
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="" data-tags="">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/modularization/mr.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Modularization Routes
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="" data-tags="">
            <a class="d-block text-dark text-decoration-none">
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/modularization/pp.svg" />                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Pricing Packages
            </div></a>
        </li>
    </ul>
</div>