<div class="my-5">
    <div class="d-flex mb-4">
        <h4 class="mb-0 yellow-orange-color" id="icons">DRAWING</h4>
        <!-- <form class="subnav-search d-flex flex-nowrap ms-auto">
            <input autocomplete="off" class="form-control search mb-0" id="search" placeholder="Construction" disabled>
        </form> -->
		<div class="subnav-search d-flex flex-nowrap ms-auto">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#" [routerLink]="['/project']">Project</a></li>
					<li class="breadcrumb-item active" aria-current="page">Drawing</li>
				</ol>
			</nav>
		</div>
    </div> 
    <div class="row">
		<div class="col-md-12 mb-4">
			<div class="card">
				<div class="card-header d-flex justify-content-start border">
					Drawing 1
				</div>
				<div class="card-body p-1"> 
					<img src="./assets/img/drawing/1.png" class="img-fluid border" alt="..." width="100%">
				</div>
			</div> 
		</div> 
		<div class="col-md-12 mb-4">
			<div class="card">
				<div class="card-header d-flex justify-content-start border">
					Drawing 2
				</div>
				<div class="card-body p-1"> 
					<img src="./assets/img/drawing/2.png" class="img-fluid border" alt="..." width="100%">
				</div>
			</div> 
		</div> 
		<div class="col-md-12 mb-4">
			<div class="card">
				<div class="card-header d-flex justify-content-start border">
					Drawing 3
				</div>
				<div class="card-body p-1"> 
					<img src="./assets/img/drawing/3.jpg" class="img-fluid" alt="..." width="100%">
				</div>
			</div> 
		</div>
	</div>
</div> 