<div class="card">
	<header class="card-header">Change Password</header>
	<div class="card-body">
		<form (submit)="save(); false">
			<div class="text-success" *ngIf="updateStatus">Update complete!</div>
			<div class="form-group mb-2">
				<label>Current Password: <span class="text-danger">*</span></label>
				<input
					type="text"
					name="current_password"
					class="form-control border"
					placeholder=""
					[class.is-invalid]="formErrors?.auth?.current_password"
					[(ngModel)]="currentPassword"
				/>
				<div *ngIf="formErrors?.auth?.current_password as currentPasswordErr" class="invalid-feedback">{{currentPasswordErr}}</div>
			</div>
			<div class="form-group mb-2">
				<label>New Password: <span class="text-danger">*</span></label>
				<input
					type="text"
					name="password"
					class="form-control border"
					placeholder=""
					[class.is-invalid]="formErrors?.auth?.password"
					[(ngModel)]="password"
				/>
				<div *ngIf="formErrors?.auth?.password as passwordErr" class="invalid-feedback">{{passwordErr}}</div>
			</div>
			<div class="form-group mb-2">
				<label>Confirm Password: <span class="text-danger">*</span></label>
				<input
					type="text"
					name="re_password"
					class="form-control border mb-2"
					placeholder=""
					[class.is-invalid]="formErrors?.auth?.re_password"
					[(ngModel)]="rePassword"
				/>
				<div *ngIf="formErrors?.auth?.re_password as rePasswordErr" class="invalid-feedback">{{rePasswordErr}}</div>
			</div>
			<button class="btn btn-primary mr-2" type="submit">Submit</button>
		</form>
	</div>
</div>