<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#" [routerLink]="['/backoffice/admin/staff/list']">User List</a></li>
	  <li class="breadcrumb-item active" aria-current="page">User Details</li>
	</ol>
</nav>
<div class="card mb-5">
	<header class="card-header">User Details</header>
	<div class="card-body">
		<p class="text-danger">Note: no backend yet!</p> 
		<div class="row">
			<div class="col-md-4">
				<img class="img-fluid" src="" alt="">
			</div>
			<div class="col-md-4">
				<h3>Full name</h3>
				<p>Email address</p>
				<p>Mobile</p>
				<p>Telephone numer</p>
				<p>Role</p>
				<p>Department</p>
				<p>Address</p>
			</div>
		</div>
	</div>
</div>
