<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" [routerLink]="['/project']">Project</a></li>
        <li class="breadcrumb-item"><a href="#" [routerLink]="['/project/health-safety-environment']">Health Safety & Environment</a></li>
        <li class="breadcrumb-item active" aria-current="page">Emergency Response Plan</li>
    </ol>
</nav>

<div class="text-center py-5 card">
	<h4 class="heading5">PROJECT</h4>
	<h4 class="heading5">Health Safety & Environment</h4>
	<h2 class="text-primary">Emergency Response Plan</h2>
	<hr class="pageUnderline mx-auto">
	<div class="card-body">
		<div class="container">
			<div class="row mb-5">
				<div class="col-sm-4 col-md-3 mb-2">
                    <div style="display: block;position: relative;width: 100%;text-align: center;">
                        <iframe style="display: block;width: 1200px;margin: 0 auto; min-height: 1200px;"
                            src="./assets/files/hse/emergency-response-plan.pdf">
                        </iframe>

                    </div>
                </div> 
            </div>
		</div>
	</div>
</div>