<div class="my-5">
    <div class="d-flex mb-4">
        <h4 class="mb-0 yellow-orange-color" id="icons">CONSTRUCTIBILITY</h4>
        <hr />
        <!-- <form class="subnav-search d-flex flex-nowrap ms-auto">
            <input autocomplete="off" class="form-control search mb-0" id="search" placeholder="Construction" disabled>
        </form> -->
		<div class="subnav-search d-flex flex-nowrap ms-auto">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#" [routerLink]="['/project']">Project</a></li>
					<li class="breadcrumb-item active" aria-current="page">Constructability</li>
				</ol>
			</nav>
		</div>
    </div> 
    <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none" disabled>
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/constructability/spc.svg" />
                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Site Personel Calculations
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none" disabled>
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/constructability/staging.svg" />
                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Construction Staging
            </div></a>
        </li> 
        <li class="col mb-4" data-categories="devices" data-tags="alarm clock">
            <a class="d-block text-dark text-decoration-none" disabled>
            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <img class="icon-blocks" src="./assets/icons/construction/constructability/presentation.svg" />
                
            </div>
            <div class="name text-decoration-none text-center pt-1 yellow-orange-color">
                Presentation
            </div></a>
        </li> 
    </ul>
</div>