<div class="row">
	<div class="col">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" [routerLink]="['/project']">Project</a></li>
				<li class="breadcrumb-item"><a href="#" [routerLink]="['/environment-health-safety']">HS & E</a></li>
			  <li class="breadcrumb-item active" aria-current="page">CMP Events</li>
			</ol>
		</nav>
	</div>
	<div class="col">		
		<div class="d-flex justify-content-end">
			<button 
				[routerLink]="['/environment-health-safety', 'list']"
				class="btn-sm btn border-secondary float-right btn-sm mx-1" 
				routerLinkActive="btn-secondary"
				[routerLinkActiveOptions]="{exact:true}"
				type="button">
				All Event
			</button>
			<button class="btn-sm btn btn-outline-secondary float-right btn-sm mx-1" type="button">
				Desktop Event
			</button>
			<button
				type="button" 
				class="btn-sm btn border-secondary float-right btn-sm mx-1" 
				routerLinkActive="btn-secondary"
				[routerLinkActiveOptions]="{exact:true}"
				[routerLink]="['/environment-health-safety', 'list']" [queryParams]="{status:2}"
				>Active
			</button>
			<button
				type="button"
				class="btn-sm btn border-secondary float-right btn-sm mx-1" 
				routerLinkActive="btn-secondary"
				[routerLinkActiveOptions]="{exact:true}"
				[routerLink]="['/environment-health-safety', 'list']" [queryParams]="{status:4}"
				>Archive
			</button>
			<!-- <button 
				[routerLink]="['/environment-health-safety/create', iEHS?.id]" 
				class="btn-sm btn border-secondary float-right btn-sm mx-1" 
				routerLinkActive="btn-secondary"
				[routerLinkActiveOptions]="{exact:true}"
				type="button">
				New Event
			</button> -->
		</div>
	</div>
</div>
<div class="card">
	<header class="card-header">
		<div class="row" md="6">
			<div class="col"><small class="text-muted"> List</small></div>
		</div>
	</header>
	<div class="card-body">
		<div class="position-relative table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Sender</th>
						<th>Title</th>
						<!-- <th>Status</th> -->
						<th>Risk Level</th>
						<th>Date Start</th>
						<th>Tag</th>
						<!-- <th>Date Updated</th> -->
					</tr>
				</thead>
				<tbody style="cursor: pointer;">
					<tr *ngFor="let iMsg of searchInfo.result?.data" class="" tabindex="0" (click)="navigateStaffDetails(iMsg.id)">
						<td class="font-weight-bold">{{iMsg?.id}}
						</td>
						<td class="font-weight-bold">{{iMsg?.sender?.name}}</td>
						<td class="font-weight-bold">{{iMsg?.title}}</td>
						<!-- <td class="font-weight-bold">{{iMsg?.status}}</td> -->
						<td class="font-weight-bold">{{riskLevels[iMsg?.risk_level]}}</td>
						<td class="">{{iMsg?.date_start * 1000 | date:'MMMM d, y'}}</td>
						<td>
							<ng-container
								*ngTemplateOutlet="showDesktopIcon; context:{$implicit:iMsg.hashtagEntries}">
							</ng-container>
						</td>
						<!-- <td class="">{{!!iMsg?.dateEnd ? (iMsg?.dateEnd * 1000 | date:'d MMMM, y') : ""}}</td> -->
					</tr>
				</tbody>
			</table>
		</div>
		<nav aria-label="pagination">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<a href="#" class="disabled page-link" aria-label="Go to previous page" aria-disabled="true">‹</a>
				</li>
				<li class="active page-item">
					<a href="#" class="page-link" aria-label="Current page 1">1</a>
				</li>
				<li class="page-item disabled">
					<a href="#" class="disabled page-link" aria-label="Go to next page" aria-disabled="true">›</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

<ng-template #showDesktopIcon let-hashtagEntries>
	<ng-container *ngFor="let hashtag of hashtagEntries">
		<span *ngIf="hashtag === 'desktop'">Desktop</span>
	</ng-container>
</ng-template>