<div class="card">
	<header class="card-header">Personal Details</header>
	<div class="card-body">
		<p class="text-danger">Note: no backend yet!</p>
		<form>
			<div class="text-success d-none">Update complete!</div>
			<div class="row">
				<div class="col">
					<div class="form-group mb-2">
						<label>First Name: <span class="text-danger">*</span></label>
						<input
							type="text"
							name="firstname"
							class="form-control border"
							placeholder=""
						/>
					</div>
				</div>
				<div class="col">
					<div class="form-group mb-2">
						<label>Last Name: <span class="text-danger">*</span></label>
						<input
							type="text"
							name="lastname"
							class="form-control border"
							placeholder=""
						/>
					</div> 
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group mb-2">
						<label>Mobile: <span class="text-danger">*</span></label>
						<input
							type="text"
							name="mobile"
							class="form-control border"
							placeholder=""
						/>
					</div> 
				</div>
				<div class="col">
					<div class="form-group mb-2">
						<label>Telephone Number: <span class="text-danger">*</span></label>
						<input
							type="text"
							name="tel_num"
							class="form-control border"
							placeholder=""
						/>
					</div> 
				</div>
			</div>
			<div class="form-group mb-2">
				<label>Address: <span class="text-danger">*</span></label>
				<textarea
					type="text"
					name="address"
					class="form-control border"
					placeholder="">
				</textarea>
			</div> 
			<button class="btn btn-primary mr-2" type="submit">Submit</button>
		</form>
	</div>
</div>