<div class="row">
    <div class="col-md-8 mx-auto mt-5 pt-5 text-center">
        <img _ngcontent-rja-c57="" width="300" alt="Patway Logo" src="assets/img/logo.png">
        <h4 class="mb-5">SELECT ACCESS</h4>
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary py-4 px-5" href="/#/backoffice/super/login" role="button">
                    <h4><i class="fas fa-user-lock"></i><br />
                    Admin</h4>
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-success py-4 px-5 " href="/#/backoffice/admin/login" role="button">
                    <h4><i class="fas fa-user-lock"></i><br />
                    Gate Keeper</h4>
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-warning py-4 px-5" href="/#/login" role="button">
                    <h4><i class="fas fa-user-lock"></i><br />
                    Staff</h4>
                </a>
            </div>
        </div>
    </div>
</div>